//output:user.html
doctype
html
	title DOE DASHBOARD
	link(rel='stylesheet', href='/../normalize.css')
	//- link(rel='stylesheet', href='normalize.css')
	link(rel='stylesheet', href='/../skeleton.css')
	//- link(rel='stylesheet', href='skeleton.css')
	link(rel='stylesheet', href='/../styles.css')
	//- link(rel='stylesheet', href='styles.css')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
	script(src='jquery-1.12.0.js')
	script(src='scripts.js')
	body
		//{% if is_admin == 1 %}
		//form(action='/add_person', method='get') (Add Attendee button)
		//form(action='/attendees', method='get') (View All button)
		//form(action='/raffle', method='get') (Raffle)
		//p You are logged in as {{ user.getUsername }}
		//form(action='/logout', method='post') (Sign out Button)
		//{% endif %}
		
		.left-sidebar
			p doe
			hr
		
		.top-sidebar
			
		
