//output:user.html
doctype
html
	title DOE DASHBOARD
	link(rel="stylesheet", href="normalize.css")
	link(rel="stylesheet", href="skeleton.css")
	link(rel="stylesheet", href="styles.css")
	link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel="stylesheet" type="text/css")
	script(src="jquery-1.12.0.js")
	script(src="scripts.js") 
	body
	
		.container
			h1.title Welcome to your menu, {{ user.getUsername }}
			{% if is_admin == 1 %}
			
			form(class="btn-group", action="/add_person", method="get")
				button(class="btn btn-default btn-md")
				span(class="glyphicon glyphicon-remove", aria-hidden="true") Add Attendee
			
			form(class="btn-group" action="/attendees", method="get")
				button(class="btn btn-default btn-md")
				span(class="glyphicon glyphicon-remove", aria-hidden="true") Raffle
			
			{% endif %}
			
		footer
			.container
				p You are logged in as {{ user.getUsername }}
				// HOME
				form(class="btn-group inline", action="/", method="get")
					button(class="btn btn-default btn-md")
					span(class="glyphicon glyphicon-home") Home
				//Sign Out
				form(class="btn-group", action="/logout", method="post")
					button(class="btn btn-default btn-md")
					span(class="glyphicon glyphicon-remove", aria-hidden="true") Sign Out
