<!DOCTYPE html>
<html>
  <title>DOE DASHBOARD</title>
  <link rel="stylesheet" href="/../normalize.css">
  <link rel="stylesheet" href="/../skeleton.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
  <script src="jquery-1.12.0.js"></script>
  <script src="scripts.js"></script>
  <body></body>
  <div class="left-sidebar">
    <p>doe</p>
    <hr>
  </div>
  <div class="top-sidebar"></div>
  <div class="mainsection">
    {% if is_admin == 1 %}
        <form class="btn-group" action="/add_person" method="get">
          <button class="btn btn-default btn-md">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Add Attendee
          </button>
        </form>
        <form class="btn-group" action="/attendees" method="get">
          <button class="btn btn-default btn-md">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> View All
          </button>
        </form>
        <form class="btn-group" action="/raffle" method="get">
          <button class="btn btn-default btn-md">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Raffle
          </button>
        </form>
        {% endif %}
  </div>
</html>
