<!DOCTYPE html>
<html>
  <title>DOE DASHBOARD</title>
  <link rel="stylesheet" href="/../normalize.css">
  <link rel="stylesheet" href="/../skeleton.css">
  <link rel="stylesheet" href="/../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
  <script src="jquery-1.12.0.js"></script>
  <script src="scripts.js"></script>
  <body></body>
  <div class="left-sidebar">
    <p>doe</p>
    <hr>
  </div>
  <div class="top-sidebar"></div>
  <div class="mainsection">
    {% if is_admin == 1 %}
    <form class="btn-group" action="/add_person" method="get">
      <button>Add Person</button>
    </form>
    <form action="/attendees" method="get">
      <button>Attendees</button>
    </form>
    <form action="/raffle" method="get">
      <button>Raffle</button>
    </form>
    <p>You are logged in as {{ user.getUsername }}</p>
    <form action="/logout" method="post">
      <button>Logout</button>
    </form>
    {% endif %}
  </div>
</html>
