<!DOCTYPE html>
<html>
  <title>DOE DASHBOARD</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="skeleton.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
  <script src="jquery-1.12.0.js"></script>
  <script src="scripts.js"> </script>
  <body>
    <div class="container">
      <h1 class="title">Welcome to your menu, {{ user.getUsername }}</h1>{% if is_admin == 1 %}
      <form action="/add_person" method="get" class="btn-group">
        <button class="btn btn-default btn-md"></button><span aria-hidden="true" class="glyphicon glyphicon-remove">Add Attendee</span>
      </form>
      <form action="/attendees" method="get" class="btn-group">
        <button class="btn btn-default btn-md"></button><span aria-hidden="true" class="glyphicon glyphicon-remove">Raffle</span>
      </form>{% endif %}
    </div>
    <footer>
      <div class="container">
        <p>You are logged in as {{ user.getUsername }}</p>
        <!-- HOME-->
        <form action="/" method="get" class="btn-group inline">
          <button class="btn btn-default btn-md"></button><span class="glyphicon glyphicon-home">Home</span>
        </form>
        <!--Sign Out-->
        <form action="/logout" method="post" class="btn-group">
          <button class="btn btn-default btn-md"></button><span aria-hidden="true" class="glyphicon glyphicon-remove">Sign Out</span>
        </form>
      </div>
    </footer>
  </body>
</html>