//output:user.html
doctype
html
	title DOE DASHBOARD
	link(rel='stylesheet', href='../web/normalize.css')
	//- link(rel='stylesheet', href='normalize.css')
	link(rel='stylesheet', href='../web/skeleton.css')
	//- link(rel='stylesheet', href='skeleton.css')
	link(rel='stylesheet', href='../web/styles.css')
	//- link(rel='stylesheet', href='styles.css')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
	script(src='jquery-1.12.0.js')
	script(src='scripts.js')
	body
	.left-sidebar
		p doe
		hr
	
	.top-sidebar
	
	.mainsection
	
		{% if is_admin == 1 %}
		form(action='/add_person', method='get') 
			button Add Person
		form(action='/attendees', method='get') 
			button Attendees
		form(action='/raffle', method='get')
			button Raffle
		p You are logged in as {{ user.getUsername }}
		form(action='/logout', method='post')
			button Logout
		{% endif %}
		
		
			
		
