<!DOCTYPE html>
<html>
  <title>DOE DASHBOARD</title>
  <link rel="stylesheet" href="/../normalize.css">
  <link rel="stylesheet" href="/../skeleton.css">
  <link rel="stylesheet" href="/../styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
  <script src="jquery-1.12.0.js"></script>
  <script src="scripts.js"></script>
  <body>
    <!--{% if is_admin == 1 %}-->
    <!--form(action='/add_person', method='get') (Add Attendee button)-->
    <!--form(action='/attendees', method='get') (View All button)-->
    <!--form(action='/raffle', method='get') (Raffle)-->
    <!--p You are logged in as {{ user.getUsername }}-->
    <!--form(action='/logout', method='post') (Sign out Button)-->
    <!--{% endif %}-->
    <div class="left-sidebar">
      <p>yo!</p>
      <hr>
    </div>
    <div class="top-sidebar"></div>
  </body>
</html>
